*
!.*
!.emacs.d/**

\#*\#
_darcs


.emacs.d/auto-save-list
.emacs.d/backups
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/ido.last
.emacs.d/recentf
.emacs.d/smex-items
.emacs.d/tmp

.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/.mc-lists.el

.emacs.d/abbrev_defs
.emacs.d/%backup*
.emacs.d/tramp

.CFUserTextEncoding
.DS_Store
.bash_history
.dbus
.dir-locals.el
.dmrc
.dockercfg
.esd_auth
.fonts.conf
.ghc
.ghci
.ghcjs
.git
.gnome
.gstreamer-*
.icons
.java
.kde
.lesshst
.local
.mozilla
.nv
.nvidia-settings-rc
.oracle_jre_usage
.pgpass
.pki
.profile
.psql_history
.recently-used
.ssh
.ssr
.stack
.thumbnails
.xsession-errors

*.elc