*
!.*
!.emacs.d/**

\#*\#
_darcs


.emacs.d/auto-save-list
.emacs.d/backups
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/ido.last
.emacs.d/recentf
.emacs.d/smex-items
.emacs.d/tmp

.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/.mc-lists.el

.emacs.d/abbrev_defs
.emacs.d/%backup*
.emacs.d/tramp

.dbus/
.dir-locals.el
.dmrc
.esd_auth
.fonts.conf
.ghc/
.ghci
.ghcjs/
.git
.gnome/
.gstreamer-0.10/
.icons
.java/
.kde/
.local/
.mozilla/
.nv/
.nvidia-settings-rc
.oracle_jre_usage/
.pki/
.recently-used
.ssh/
.ssr/
.stack/
.thumbnails/
.xsession-errors
